:root {
    --td-comp-margin-l: var(--td-size-1);
}

.t-form__item {
    margin-bottom: 0;
}

.video-list-item-meta {
    margin: -10;
}

.t-list-item__meta-title {
    font-size: '12px' !important;
    font-family: 'consolas' !important;
    text-overflow: 'hidden' !important;
}
.video-descriprion {
    font-size: '12px' !important;
    text-overflow: 'hidden' !important;
}

.table td,th {
    padding: 2px !important;
}